<div id="modal-add-event" class="modal">
    <div class="modal-content">
        <span class="close" id="btn-addClose-modal">&times;</span>
        <form id="form-add-event" >
            <h2>Select An Event</h2>
            <input class="modal-search-input border border-grey border-1 border-solid" type="text" id="add_modal_input" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
            <ul id="event_list_ul" class="search_list_ul">
            </ul>
            <div class="flex w-full">
              <input type="button" onclick="sendAddEventRequest()" value="Add" id="btn-add-event" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4  rounded">
            </div>
            

        </form>
        <button class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 mr-8 ml-8 rounded" id="btn-create-event">Create a new Event</button>
          {% with timeline_id=tl.timeline['id'], timelines=tl.timelines %}
              {% include 'blog/event-form.html' %}
          {% endwith %}   
    </div>
</div>
          
<script>
  let event_list = JSON.parse({{ events | tojson | safe }}); //make this into events
  
  // Get the modal
  let addModal = document.getElementById('modal-add-event');
  let addOpen = document.getElementById("btn-add-event");
  let addClose = document.getElementById("btn-addClose-modal");
  let addForm = document.getElementById("form-add-event");
  
  let newEventBtn = document.getElementById("btn-save-event");
  
  let selected_event;
  let eid;

  let event_list_ul = document.getElementById('event_list_ul');
  function initializeEventList () {
    event_list_ul.innerHTML = "";
    event_list.forEach(function (event) {
      if (event_ids.includes(event.id)) {
        return;
      }
      let a = document.createElement("a");
      a.onclick = function () {
        if (selected_event)
        {
          selected_event.style.backgroundColor = getComputedStyle(this).getPropertyValue('background-color');
        }
        a.style.backgroundColor = "#B3CFDD";
        selected_event = this;
        eid = event.id; //maybe there is another way to get this from selected? I'm lazy
      };
      a.appendChild(document.createTextNode(event.title))
      let li = document.createElement("li");
      li.appendChild(a);
      // li.setAttribute("id", "element4"); // added line
      event_list_ul.appendChild(li);
    });
  }
  initializeEventList();
  
  function sendAddEventRequest() {
    if (!eid) {
        return;
    }
    let XHR = new XMLHttpRequest();
    // Define what happens on successful data submission
    XHR.addEventListener("load", function(event) {
      let response = event.target.responseText;
      if (response.startsWith("SUCCESS")) {
        addForm.reset();
        let event_json = JSON.parse(response.substring(7));
        timeline_json.events.push(event_json);
        create_modal.style.display = "none";
        event_ids.push(eid);
        initializeEventList();
        window.timeline = new TL.Timeline('timeline-embed', timeline_json, options);
      }
    });

    // Define what happens in case of error
    XHR.addEventListener("error", function(event) {
      alert('Oops! Something went wrong.');
    });

    // Set up our request
    XHR.open("GET", "/{{ timeline_id }}/addevent/" + eid);

    // The data sent is what the user provided in the form
    XHR.send();
  }
  
  

  // When the user clicks on the button, open the modal 
  addOpen.onclick = function () {
    addModal.style.display = "block";
  }

  // When the user clicks on <span> (x), close the modal
  addClose.onclick = function () {
    addModal.style.display = "none";
  }
  
  // When the user clicks on <span> (x), close the modal
  newEventBtn.onclick = function () {
    addModal.style.display = "none";
  }

</script>
