{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Timeline{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="w-2/3 mx-auto">
  <form method="post" class="w-full">
    <label for="title">Title</label>
    <input class="border border-grey border-1 border-solid h-8" name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="summary">Summary</label>
    <textarea class="border border-grey border-1 border-solid" name="summary" id="summary">{{ request.form['summary'] }}</textarea>
    <label for="title">Background Image</label>
    <input class="border border-grey border-1 border-solid h-8" name="background_image" id="background_image" placeholder="Optional">
    <input type="submit" value="Save" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 mr-8  rounded">
  </form>
</div>
{% endblock %}

<form method="post">
    <label for="username">Username</label>
    <input class="border border-grey border-1 border-solid" name="username" id="username" required>
    <label for="password">Password</label>
    <input class="border border-grey border-1 border-solid" type="password" name="password" id="password" required>
    <input type="submit" value="Log In" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 mr-8 ml-8 rounded">
  </form>
