<div id="modal-create-event" class="modal">
    <div class="modal-content">
        <span class="close" id="btn-close-modal">&times;</span>
        <form id="form-create-event" >
            <label for="title">Title</label>
            <input name="title" id="title" class="border border-grey border-1 border-solid" value="{{ request.form['title'] }}" required>
            <label for="summary">Summary</label>
            <textarea name="summary" id="summary" class="border border-grey border-1 border-solid" >{{ request.form['summary'] }}</textarea>
            <div class="date-row">
                <div class="date-container">
                    <label for="start-date">Start Date</label>
                    <input name="startDate" id="start-date" type="date" class="border border-grey border-1 border-solid" required>
                </div>
                <div class="date-container">
                    <label for="end-date">End Date</label>
                    <input name="endDate" id="end-date" type="date" class="border border-grey border-1 border-solid">
                </div>
            </div>
            <label for="image_url">Image</label>
            <input name="image" id="image_url" class="border border-grey border-1 border-solid" placeholder="(Optional)">
            <label for="credit">Source</label>
            <input name="credit" id="credit" class="border border-grey border-1 border-solid" placeholder="(Optional) Add image credit">
            <input type="submit" value="Save" id="btn-save-event" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 mr-8 ml-8 rounded">
        </form>
    </div>
</div>
          
<script>

  // Get the modal
  let create_modal = document.getElementById('modal-create-event');
  let create_open = document.getElementById("btn-create-event");
  let create_close = document.getElementById("btn-close-modal");
  let create_form = document.getElementById("form-create-event");

  let start = document.getElementById('start-date');;
  let end = document.getElementById('end-date');
  
  // When the user clicks on the button, open the modal 
  create_open.onclick = function () {
    create_modal.style.display = "block";
  }
  // When the user clicks on <span> (x), close the modal
  create_close.onclick = function () {
    create_modal.style.display = "none";
  }

  function sendEventData() {
    let XHR = new XMLHttpRequest();
    let FD = new FormData(create_form);
    // Define what happens on successful data submission
    XHR.addEventListener("load", function(event) {
      let response = event.target.responseText;
      if (response.startsWith("SUCCESS")) {
        create_form.reset();
        let event_json = JSON.parse(response.substring(7));
        timeline_json.events.push(event_json);
        create_modal.style.display = "none";
        window.timeline = new TL.Timeline('timeline-embed', timeline_json, options);
      }
    });

    // Define what happens in case of error
    XHR.addEventListener("error", function(event) {
      alert('Oops! Something went wrong.');
    });

    // Set up our request
    XHR.open("POST", "/{{ timeline_id }}/create");

    // The data sent is what the user provided in the form
    XHR.send(FD);
  }

  create_form.addEventListener("submit", function(event) {
    event.preventDefault();
    sendEventData();
  });

  start.addEventListener('change', function() {
    if(start.value)
      end.min = start.value;
  }, false);

  end.addEventListener('change', function() {
    if(end.value)
      start.max = end.value;
  }, false);

</script>
