<div id="modal-merge" class="modal">
    <div class="modal-content">
        <span class="close" id="btn-close-merge-modal">&times;</span>
        <form id="form-merge">
            <h2>Select Another Timeline</h2>
            <input class="border border-grey border-1 border-solid" type="text" id="merge_modal_input" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
            <ul id="timelines_list_ul">
            </ul>
            <input type="button" value="Merge" id="btn-merge-timeline" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 mr-8 ml-8 rounded">
            <input type="button" value="Compare" id="btn-compare-timeline" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 mr-8 ml-8 rounded">
            <input type="button" value="Contrast" id="btn-contrast-timeline" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 mr-8 ml-8 rounded">
        </form>
    </div>
</div>
          
<script>
  let timelines_list = JSON.parse({{ timelines | tojson | safe }});
  // Get the modal
  let modal_merge = document.getElementById('modal-merge');
  let open_merge = document.getElementById("btn-merge");
  let close_merge = document.getElementById("btn-close-merge-modal");
  let form_merge = document.getElementById("form-merge");

  let timelines_list_ul = document.getElementById('timelines_list_ul');
  timelines_list.forEach(function (timeline) {
    let a = document.createElement("a");
    a.appendChild(document.createTextNode(timeline.title))
    let li = document.createElement("li");
    li.appendChild(a);
    // li.setAttribute("id", "element4"); // added line
    timelines_list_ul.appendChild(li);
  });

  // When the user clicks on the button, open the modal 
  open_merge.onclick = function () {
    modal_merge.style.display = "block";
  }

  // When the user clicks on <span> (x), close the modal
  close_merge.onclick = function () {
    modal_merge.style.display = "none";
  }

  function myFunction() {
    let input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("merge_modal_input");
    filter = input.value.toUpperCase();
    ul = document.getElementById("timelines_list_ul");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
      a = li[i].getElementsByTagName("a")[0];
      txtValue = a.textContent || a.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "";
      } else {
        li[i].style.display = "none";
      }
    }
  }

  form_merge.addEventListener("submit", function (event) {
    event.preventDefault();
  });

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function (event) {
    if (event.target == modal) {
      modal_merge.style.display = "none";
    }
  }
</script>
