<div id="modal-merge" class="modal">
    <div class="modal-content">
        <span class="close" id="btn-close-merge-modal">&times;</span>
        <form id="form-merge">
            <h2>Select Another Timeline</h2>
            <input class="modal-search-input border border-grey border-1 border-solid" type="text" id="merge_modal_input" onkeyup="filterTimelinesOnSearch()" placeholder="Search for names.." title="Type in a name">
            <ul id="timelines_list_ul" class="search_list_ul">
            </ul>
            <div class="flex w-full">
              <input type="button" onclick="sendMergeRequest()" value="Merge" id="btn-merge-timeline" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4  rounded">
              <input type="button" onclick="sendCompareRequest()" value="Compare" id="btn-compare-timeline" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 ml-8 rounded">
              <input type="button" onclick="sendContrastRequest()" value="Contrast" id="btn-contrast-timeline" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4  ml-8 rounded">
            </div>
            
        </form>
    </div>
</div>
          
<script>
  let timelines_list = JSON.parse({{ timelines | tojson | safe }});
  // Get the modal
  let modal_merge = document.getElementById('modal-merge');
  let open_merge = document.getElementById("btn-merge");
  let close_merge = document.getElementById("btn-close-merge-modal");
  let form_merge = document.getElementById("form-merge");
  
  let selected;
  let tid;

  let timelines_list_ul = document.getElementById('timelines_list_ul');
  timelines_list.forEach(function (timeline) {
    if (timeline.id === {{ timeline_id }}) {
        return;
    }
    let a = document.createElement("a");
    a.onclick = function () {
	  if (selected)
	  {
	    selected.style.backgroundColor = getComputedStyle(this).getPropertyValue('background-color');
	  }
	  a.style.backgroundColor = "#B3CFDD";
      selected = this;
	  tid = timeline.id; //maybe there is another way to get this from selected? I'm lazy
    };
    a.appendChild(document.createTextNode(timeline.title))
    let li = document.createElement("li");
    li.appendChild(a);
    // li.setAttribute("id", "element4"); // added line
    timelines_list_ul.appendChild(li);
  });

  // When the user clicks on the button, open the modal 
  open_merge.onclick = function () {
    modal_merge.style.display = "block";
  }

  // When the user clicks on <span> (x), close the modal
  close_merge.onclick = function () {
    modal_merge.style.display = "none";
  }

  function filterTimelinesOnSearch() {
    let input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("merge_modal_input");
    filter = input.value.toUpperCase();
    ul = document.getElementById("timelines_list_ul");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
      a = li[i].getElementsByTagName("a")[0];
      txtValue = a.textContent || a.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "";
      } else {
        li[i].style.display = "none";
      }
    }
  }


  function sendMergeRequest() {
    let XHR = new XMLHttpRequest();
    // Define what happens on successful data submission
    XHR.addEventListener("load", function(event) {
      let response = event.target.responseText;
      if (response.startsWith("SUCCESS")) {
        form_merge.reset();
        modal_merge.style.display = "none";
        let new_timline_url = response.substring(7);
        window.location.href = new_timline_url
      }
    });

    // Define what happens in case of error
    XHR.addEventListener("error", function(event) {
      alert('Oops! Something went wrong.');
    });

    // Set up our request
    XHR.open("GET", "/{{ timeline_id }}/merge/" + tid);

    // The data sent is what the user provided in the form
    XHR.send();
  }
  
    function sendCompareRequest() {
    let XHR = new XMLHttpRequest();
    // Define what happens on successful data submission
    XHR.addEventListener("load", function(event) {
      let response = event.target.responseText;
      if (response.startsWith("SUCCESS")) {
        form_merge.reset();
        modal_merge.style.display = "none";
        let new_timline_url = response.substring(7);
        window.location.href = new_timline_url
      }
    });

    // Define what happens in case of error
    XHR.addEventListener("error", function(event) {
      alert('Oops! Something went wrong.');
    });

    // Set up our request
    XHR.open("GET", "/{{ timeline_id }}/compare/" + tid);

    // The data sent is what the user provided in the form
    XHR.send();
  }
  
    function sendContrastRequest() {
    let XHR = new XMLHttpRequest();
    // Define what happens on successful data submission
    XHR.addEventListener("load", function(event) {
      let response = event.target.responseText;
      if (response.startsWith("SUCCESS")) {
        form_merge.reset();
        modal_merge.style.display = "none";
        let new_timline_url = response.substring(7);
        window.location.href = new_timline_url
      }
    });

    // Define what happens in case of error
    XHR.addEventListener("error", function(event) {
      alert('Oops! Something went wrong.');
    });

    // Set up our request
    XHR.open("GET", "/{{ timeline_id }}/contrast/" + tid);

    // The data sent is what the user provided in the form
    XHR.send();
  }
</script>
