{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ tl.timeline['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    {{ tl.events }}}
    {{ tl.event_ids }}}
    <input name="title" class="border border-grey border-1 border-solid" id="title" value="{{ request.form['title'] or tl.timeline['title'] }}" required>
    <label for="body">Body</label>
    <textarea name="body" class="border border-grey border-1 border-solid" id="body">{{ request.form['summary'] or tl.timeline['summary'] }}</textarea>
    <input type="submit" value="Save">
  </form>
  <hr>
  
  <form action="{{ url_for('blog.delete', id=tl.timeline['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}
