{% extends 'base.html' %}


{% block header %}
  <h1>{% block title %}Edit "{{ tl.timeline['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}

{% if g.user['id'] == tl.timeline['author_id'] %}
  <div class="w-full block sm:block md:block lg:flex xl:flex">
    <!-- Edit Section-->
    <div class="w-full sm:w-full md:w-full lg:w-1/2 xl:w-1/2 block p-6">


      <form method="post">
        <label for="title">Title</label>
        <input class="h-10 border border-grey border-1 border-solid" name="title" id="title" value="{{ request.form['title'] or tl.timeline['title'] }}" required>
        <label class="mt-4" for="body">Body</label>
        <textarea class="h-10 border border-grey border-1 border-solid" name="body" id="body">{{ request.form['body'] or tl.timeline['summary'] }}</textarea>
        <input class="w-full h-12 bg-blue hover:bg-blue-dark text-white font-bold rounded" type="submit" value="Save">
      </form>

      <div class="w-full flex">

        <div class ="w-full pr-2">
          <input type="submit" value="Cancel" id="btn-cancel-edit" class="w-full h-12 bg-grey hover:bg-grey-dark text-white font-bold rounded" onclick="window.history.go(-1)">
        </div>

        <form action="{{ url_for('blog.delete', id=tl.timeline['id']) }}" method="post" class ="w-full pl-2">
          <input class="-my-4 w-full h-12 bg-red hover:bg-red-dark text-white font-bold rounded" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
        </form>

      </div>  
    </div>

    <!--Select Section-->
    <div class="w-full sm:w-full md:w-full lg:w-1/2 xl:w-1/2   block p-6">
        <form id="form-merge">
            <h3>Events in Timeline "{{ tl.timeline['title'] }}"</h3>
            <input class="modal-search-input border border-grey border-1 border-solid" type="text" id="add_modal_input" onkeyup="filterEventsOnSearch()" placeholder="Search for names.." title="Type in a name">
          <ul id="event_list_ul" class="search_list_ul">
            </ul>

          <div class="flex w-full">
            <div class = "w-full pr-2">
              <input type="button" onclick="editEvent()" value="Edit" id="btn-add-event" class="bg-blue hover:bg-blue-dark text-white font-bold rounded w-full h-12">
            </div>
            <div class = "w-full pl-2">
              <input type="button" onclick="deleteEvent()" value="Delete" id="btn-add-event" class="bg-red hover:bg-red-dark text-white font-bold rounded w-full h-12">
            </div>
          </div>
        </form>
    </div>

  </div>

<script>
  let event_list = JSON.parse({{ tl.events | tojson | safe }});
  
  // Get the modal

  let event_ids = {{ tl.event_ids }}
  
  let newEventBtn = document.getElementById("btn-save-event");
  
  let selected_event;
  let eid;

  let event_list_ul = document.getElementById('event_list_ul');
  function initializeEventList () {
    event_list_ul.innerHTML = "";
    event_list.forEach(function (event) {
      if (!event_ids.includes(event.id)) {
        return;
      }
      let a = document.createElement("a");
      a.onclick = function () {
      };
      a.appendChild(document.createTextNode(event.title));
      let actionBox = document.createElement("div");
      actionBox.classList.add("action-box");
      let editButton = document.createElement("span");
      editButton.appendChild(document.createTextNode("Edit"));
      let delButton = document.createElement("span");
      delButton.appendChild(document.createTextNode("Delete"));
      delButton.onclick = function () {
        sendDeleteRequest(event.id);
      };
      actionBox.appendChild(editButton);
      actionBox.appendChild(delButton);
      a.appendChild(actionBox);



      let li = document.createElement("li");
      li.appendChild(a);
      // li.setAttribute("id", "element4"); // added line
      event_list_ul.appendChild(li);
    });
  }
  initializeEventList();

  
  function filterEventsOnSearch() {
    let input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("add_modal_input");
    filter = input.value.toUpperCase();
    ul = document.getElementById("event_list_ul");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
      a = li[i].getElementsByTagName("a")[0];
      txtValue = a.textContent || a.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "";
      } else {
        li[i].style.display = "none";
      }
    }
  }

  function deleteEvent()
  {
    let eventIdToDelete = eid;
    console.log(eid);
  }

  function editEvent()
  {
    let eventIdToEdit = eid;
    console.log(eid);

    //This should probably be a modal?
  }

  function sendDeleteRequest (eid) {
    let XHR = new XMLHttpRequest();
    // Define what happens on successful data submission
    XHR.addEventListener("load", function (event) {
      let response = event.target.responseText;
      if (response.startsWith("SUCCESS")) {
        let index = event_ids.indexOf(eid);
        if (index !== -1) event_ids.splice(index, 1);
        initializeEventList();
      }
    });
    XHR.addEventListener("error", function (event) {
      console.log(event);
    });
    XHR.open("GET", "/{{ tl.timeline['id'] }}/deleteevent/" + eid);
    XHR.send();
  }
</script>

{% else %}
  <input type="submit" value="You do not have permission to edit." id="btn-cancel-edit" class="w-full h-12 bg-red hover:bg-red-dark text-white font-bold rounded" onclick="window.history.go(-1)">
{% endif %}


{% endblock %}
