{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ tl.timeline['title'] }}{% endblock %}</h1>
    {% if g.user['id'] == tl.timeline['author_id'] %}
        <a class="action" href="{{ url_for('blog.update', id=tl.timeline['id']) }}">Edit</a>
    {% endif %}
{% endblock %}

{% block content %}
    <script>
      let tjson = {{ tl.timeline_json  | tojson | safe }}
      let timeline_json = JSON.parse(tjson);
      let options = {
        zoom_sequence: [0.1, 0.25, 0.5, 1, 2, 4, 8, 10],
        scale_factor: 0.25
      };
    </script>
    <article class="post">
      <header>
        <div>
        <div class="action-bar my-6">
          <button class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 mr-8 ml-8 rounded" id="btn-add-event">Add Event</button>
          {% with timeline_id=tl.timeline['id'] %}
              {% include 'blog/event-form.html' %}
          {% endwith %}
          <button class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 mr-8 ml-8 rounded" id="btn-merge">Compare/Merge</button>
          {% with timeline_id=tl.timeline['id'] %}
              {% include 'blog/merge-modal.html' %}
          {% endwith %}
        </div>

            <div class="about">by {{ tl.timeline['author_id'] }} on {{ tl.timeline['created'].strftime('%Y-%m-%d') }}</div>
        </div>
      </header>
      <p class="body">{{ tl.timeline['summary'] }}</p>
      <div id='timeline-embed' style="width: 100%; height: 400px"></div>
      <script type="text/javascript">
        window.timeline = new TL.Timeline('timeline-embed', timeline_json, options);
      </script>
    </article>
{% endblock %}
