{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <label for="username">Username</label>
    <input class="border border-grey border-1 border-solid" name="username" id="username" required>
    <label for="password">Password</label>
    <input class="border border-grey border-1 border-solid" type="password" name="password" id="password" required>
    <input type="submit" value="Log In" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 mr-8 ml-8 rounded">
  </form>
{% endblock %}
