* {
  padding: 0;
  margin: 0;
}
html {
  font-family: Source Sans Pro, Helvetica, sans-serif;
  font-weight: 400;
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #555;
  margin: 1rem 0;
}

a {
  text-decoration: none;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

nav {
  background: white;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

.logo {
  height: 100px;
  width: 40%;
  background: url("timeline_logo.png") no-repeat left;
  background-size: contain;
  display: inline-block;
  float: left;
}

.search-bar {
  width: 40%;
  height: 25px;
  display: inline-block;
  float: left;
}

.search-bar .search-box {
  width: calc(90% - 10px);
  height: 100%;
  display: inline-block;
  padding: 0 5px;
}

.search-bar .search-button {
  width: calc(10% - 6px);
  height: calc(100% + 2px);
  display: inline-block;
  background: url("icons/search_icon.png") no-repeat center;
  background-size: 16px;
  float: right;
  border: 1px solid #aaa;
  cursor: pointer;
}

nav ul.nav-options {
  width: 30%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: right
}

nav ul li {
  display: inline-block;
  float: right;
}

nav ul li span {
  display: inline-block;
  padding: 0.5rem;
}

nav ul li a, header .action {
  display: block;
  padding: 0.5rem;
}

.content {
  padding: 0 1rem 1rem;
}

.content > header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;
}

.content > header h1, .content > header h2 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}

.post > header {
  display: flex;
  align-items: flex-end;
  font-size: 0.85em;
}

.post > header > div:first-of-type {
  flex: auto;
}

.post > header h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}

.post .about {
  margin-top: 10px;
  color: slategray;
  font-style: italic;
}

.post .body {
  white-space: pre-line;
}

.content:last-child {
  margin-bottom: 0;
}

.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.content input, .content textarea {
  margin-bottom: 1em;
}

.content textarea {
  min-height: 12em;
  resize: vertical;
}

input.danger {
  color: #cc2f2e;
}

input[type=submit] {
  align-self: start;
  min-width: 10em;
}


.action-bar li {
  text-decoration: none;
  cursor: pointer;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}

.modal input, .modal textarea {
  padding: 5px 10px;
}
.modal textarea {
  min-height: 4em;
  padding: 10px;
}

.modal .date-row {
  display: flex;
}
.modal .date-container {
  width: 50%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



#merge_modal_input, #add_modal_input {
  background-image: url('icons/search_icon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  background-size: 17px;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.search_list_ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.search_list_ul li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  position: relative;
}

.search_list_ul li a:hover:not(.header) {
  background-color: #eee;
}

.search-area {
  position: relative;
}

#search_timelines_list_ul {
  display: none;
  position: absolute;
  width: 100%;
  top: 40px;
  overflow: auto;
  height: 160px;
}

#search_timelines_list_ul:focus {
  display: block;
}

#search_timelines_list_ul li {
  display: block;
  float: none;
}

#search_timelines_list_ul li a {
  cursor: pointer;
}

#search_timelines_input:focus + #search_timelines_list_ul {
  display: block;
}

.displayblock {
  display: block;
}

.search_list_ul li a .action-box {
  position: absolute;
  right: 0;
  font-size: 12pt;
  top: 14px;
}

.search_list_ul li a .action-box span {
  font-size: 10pt;
  cursor: pointer;
  margin-right: 10px;
  color: #8e6339;
  text-decoration: underline;
}

.card-image {
  object-fit: none;
  object-position: center;
}

.edit-icon {
  background-image: url("icons/edit.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  position: absolute;
  right: 1rem;
  top: 13rem;
  width: 20px;
  height: 20px;
  padding: 15px;
  border: 1px solid;
  border-radius: 50%;
}
.card-summary {
    height: 40px;
    max-height: 40px;
    overflow: hidden;    
}
.card-tags {
    height: 34px;
    max-height: 34px;
    overflow: hidden;
    white-space: nowrap;
}
